@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&display=swap');

:root {
  --primary: #A5FF3E;
  --secondary: #4B4B4B;
  --alternate: #415033;
  --alternate2: #86da00;
  --dark: linear-gradient(
    135deg,
    #0e110d 0%,
    #111111 25%,
    #181b18 50%,
    #1d1d1d 75%,
    #000000 100%
  );
  --light: #FFFFFF;
  --secondary-font: 'Ibarra Real Nova', serif; 
}

body {
  margin: 3.7rem 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light);
  color: var(--secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Nova", sans-serif;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 0;
  margin-bottom: 10px;
  width: 60px !important;
  border-color: var(--primary);
  border-style: solid;
  height: 2px;
  background-color: var(--primary);
  border-radius: 2px;
}