@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&display=swap');

:root {
  --primary: #A5FF3E;
  --secondary: #4B4B4B;
  --alternate: #415033;
  --alternate2: #95ab72;
  --dark: #000000;
  --light: #FFFFFF;
  --secondary-font: 'Ibarra Real Nova', serif; 
}

body {
  margin: 3.7rem 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light);
  color: var(--secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Nova", sans-serif;
}

a {
  text-decoration: none;
}
