.exphero {
  /* height: 80vh; */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1.5rem 0;
  background-position: start;
  background-color: var(--bg);
  padding: 0 50px;
}

.exphero img {
  width: 50%;
}

.exphero-overlay {
  padding: 1rem 2rem;
  text-align: start;
  color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 60%;
}

.hero-logo {
  width: 300px;
  filter: drop-shadow(0 0 10px var(--primary)); /* Neon glow */
}

.exphero h1 {
  font-family: var(--primary-font);
  color: var(--secondary);
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.exphero p {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  margin-top: 0;
  color: grey;
  margin-bottom: 1.5rem;
}

.hero-btn {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: var(--primary);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: var(--alternate);
  color: var(--light);
}

@media screen and (max-width: 768px) {
  .exphero {
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }
  
  .exphero-overlay {
    width: 80%;
    text-align: center;
    border-radius: 10px;
  }
}