.hero {
  height: 80vh;
  background-size: cover;
  background-position: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.hero-logo {
  width: 300px;
  filter: drop-shadow(0 0 10px var(--primary)); /* Neon glow */
}

.hero h1 {
  font-family: var(--primary-font);
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  margin-top: 0;
  color: var(--primary);
  filter: drop-shadow(0 0 10px var(--primary));
  margin-bottom: 1.5rem;
}

.hero-btn {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: var(--primary);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: var(--alternate);
  color: var(--light);
}

@media screen and (max-width: 768px) {
  .hero-overlay {
    width: 80%;
  }
}