.vsec-container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
}

.vsec-container h1 {
    text-align: center;
    margin-bottom: 10px;
}

.vsec-container hr {
    width: 40px;
    margin-bottom: 20px;
    height: 2px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 1rem;
}

.vsec-container div {
    display: flex;
    width: 100%;
}

.vsec-image-container {
    width: 50%;
}

.vsec-img {
    width: 100%;
}

.vsec-content-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;

    width: 40%;
}

.vsec-content-container p {
    width: 100%;
    text-wrap: wrap;
    font-size: 1.5rem;
    /* color: #A5FF3E; */
    /* filter: drop-shadow(0 0 8px); */
}

.vsec-list {
    gap: 50px;
}

.vsec-list div {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--primary);
    box-shadow: 0 0 5px var(--primary);
}

.vsec-list div img {
    width: 35%;
}

.vsec-list div p {
    font-size: 1rem;
    font-weight: bold;
}